---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import {SITE_TITLE, SITE_DESCRIPTION} from '../../consts';
import {getCollection} from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import {Image} from 'astro:assets';
import SectionBlock from "../../components/SectionBlock.astro";

const posts = (await getCollection('blog')).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
<head>
  <BaseHead
      title={SITE_TITLE}
      description={SITE_DESCRIPTION}
  />
</head>
<body>
<Header/>
<main>
  <SectionBlock>
    <Fragment>
      <!-- Replace the ul/li structure with more semantic section/article elements -->
      <section class="flex flex-wrap m-0 p-0 gap-y-8 md:gap-x-8">
        {
          posts.map((post, index) => (
              <article
                  class:list={[
                    'bg-gray-800 p-4 rounded-xl w-full',
                    {
                      'md:w-[calc(50%-1rem)]': index > 0,
                      'text-center': index > 0,
                      'mb-4 text-center': index === 0,
                    },
                  ]}
              >
                <a
                    href={`/blog/${post.id}/`}
                    class="block no-underline group transition-all duration-200 ease-in-out"
                >
                  {post.data.heroImage && (
                      <Image
                          width={720}
                          height={360}
                          src={post.data.heroImage}
                          alt={`Hero image for ${post.data.title}`}
                          class="w-full mb-2 rounded-xl group-hover:shadow-xl"
                      />
                  )}
                  <h3
                      class:list={[
                        'm-0 text-white leading-tight break-words overflow-wrap-anywhere group-hover:text-accent',
                        {
                          'text-2xl md:text-4xl': index === 0,
                        },
                      ]}
                  >
                    {post.data.title}
                  </h3>
                  <p
                      class="group-hover:text-accent"
                  >
                    <FormattedDate date={post.data.pubDate}/>
                  </p>
                </a>
              </article>
          ))
        }
      </section>
    </Fragment>
  </SectionBlock>
</main>
<Footer/>
</body>
</html>