---
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { slugify } from '../../utils/slugify';

const parts = (await getCollection('parts')).sort(
    (a, b) => a.data.title.localeCompare(b.data.title)
);
---

<!doctype html>
<html lang="en">
<head>
  <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
</head>
<body>
<Header />
<main class="text-white max-w-3xl mx-auto px-4">
  <section>
    <h1 class="text-4xl font-bold mb-8 text-center">Compatible Parts</h1>
    <ul>
      {
        parts.map((part) => {
          const slug = `${slugify(part.data.title)}-${part.data.partNumber}`;
          return (
              <li>
                <a href={`/parts/${slug}/`}>
                  {part.data.heroImage && (
                      <Image
                          width={720}
                          height={360}
                          src={part.data.heroImage}
                          alt={`Image for ${part.data.title}`}
                          class="w-full h-auto mb-4"
                      />
                  )}
                  <h4 class="title">{part.data.title}</h4>
                  <p class="part-number">Part #: {part.data.partNumber}</p>
                </a>
              </li>
          )
        })
      }
    </ul>
  </section>
</main>
<Footer />
</body>
</html>