---
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { slugify } from '../../utils/slugify';
import SectionBlock from "../../components/SectionBlock.astro";

const parts = (await getCollection('parts')).sort(
    (a, b) => a.data.title.localeCompare(b.data.title)
);
---

<!doctype html>
<html lang="en">
<head>
  <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
</head>
<body>
<Header />
<main>
  <SectionBlock>
    <Fragment>
      <h1 class="text-4xl text-white font-bold mb-16 text-center">Compatible Parts</h1>
      <!-- Replace the ul/li structure with more semantic section/article elements -->
      <section class="flex flex-wrap m-0 p-0 gap-y-8 md:gap-x-8">
        {
          parts.map((part, index) => {
            const slug = `${slugify(part.data.title)}-${part.data.partNumber}`;
            return (
                <article class="bg-gray-800 p-4 rounded-xl w-full md:w-[calc(50%-1rem)]">
                  <a
                      href={`/parts/${slug}/`}
                      class="block no-underline group transition-all duration-200 ease-in-out"
                  >
                    {part.data.heroImage && (
                        <Image
                            width={720}
                            height={360}
                            src={part.data.heroImage}
                            alt={`Image for ${part.data.title}`}
                            class="w-full mb-2 rounded-xl group-hover:shadow-xl"
                        />
                    )}
                    <h4 class="m-0 text-white text-2xl leading-tight break-words overflow-wrap-anywhere group-hover:text-accent">
                      {part.data.title}
                    </h4>
                    <p class="text-white group-hover:text-accent">
                      Part #: {part.data.partNumber}
                    </p>
                  </a>
                </article>
            )
          })
        }
      </section>

      <!-- Link to shop-parts page -->
      <div class="text-center mt-12">
        <a href="/shop-parts" class="inline-block bg-sky-600 hover:bg-sky-700 text-white font-bold py-3 px-6 rounded-lg transition">
          Shop More Parts Online
        </a>
      </div>
    </Fragment>
  </SectionBlock>
</main>
<Footer />
</body>
</html>
